<footer id="footer">

  <div class="bottom-footer">
    <div class="footer-icons">
      <a href=""><img
          class="social-icon"
          src="/img/Platform=Facebook, Color=Negative.png"
          alt=""
        /></a>
      <a href=""><img
          class="social-icon"
          src="/img/Platform=instagram, Color=Negative.png"
          alt=""
        /></a>
      <a href=""><img
          class="social-icon"
          src="/img/Platform=LinkedIn, Color=Negative.png"
          alt=""
        /></a>
      <a href=""><img
          class="social-icon"
          src="img/Platform=X (Twitter), Color=Negative.png"
          alt=""
        /></a>
    </div>
    <div><p>©2023. Firley Brew, LLC. All rights reserved.</p></div>
  </div>

</footer>