<header id="header">
  <nav id="menu" class="navbar">
    <section class="navbar-section">
      <a class="column col-1 col-auto" class="menu-item" href="/">
        <img class="menu-img" src="/img/firley-logo-white.png" alt="home" />
      </a>
      <a class="menu-link" href="/humans"><p
          class="menu-item"
          class="column col-2 col-auto"
        >
          SHOP
        </p></a>
      <a class="menu-link" href="/humans"><p
          class="menu-item"
          class="column col-3 col-auto"
        >
          ABOUT</p></a>
      <a class="menu-link" href="/humans">
        <p class="menu-item" class="column col-4 col-auto">
          CONTACT
        </p></a>
    </section>
    {{#if isLoggedIn}}
      <section class="navbar-section">
        <a class="menu-link" href="/logout">
          <p class="menu-item" class="column col-5 col-auto">LOG OUT</p>
        </a>
      </section>
    {{else}}
      <section class="navbar-section">
        <a class="menu-link" href="/login">
          <p class="menu-item" class="column col-5 col-auto">LOG IN</p>
        </a>
      </section>
    {{/if}}

  </nav>
</header>