<header id="header">
  <nav id="menu" class="navbar">
    <section class="navbar-section">
      <a class="column col-1 col-auto" class="menu-item" href="/">
        <img class="menu-img" src="/img/firley-logo-white.png" alt="home" />
      </a>
      <a class="menu-link" href="/products"><p
          class="menu-item"
          class="column col-2 col-auto"
        >
          SHOP
        </p></a>
      <a class="menu-link" href="/about"><p
          class="menu-item"
          class="column col-3 col-auto"
        >
          ABOUT</p></a>
      <a class="menu-link" href="/contact">
        <p class="menu-item" class="column col-4 col-auto">
          CONTACT
        </p></a>
    </section>
    {{#if isLoggedIn}}
      <section class="navbar-section">
        <div class="dropdown">
          <div class="dropdown-button">

            <img src="/img/User_alt_fill.png" alt="" />
            <p>My Account</p>

          </div>
          <div class="dropdown-content">
            <a href="/logout">Log Out</a>

          </div>
        </div>
        <label class="hamburger">
          <input type="checkbox" />
        </label>
        <aside class="sidebar">
          <a href="/"><p>Home</p></a>
          <a href="/products"><p>Products</p></a>
          <a href="/about"><p>About</p></a>
          <a href="/contact"><p>Contact</p></a>
          <a href="/logout"><p>Log out</p></a>
        </aside>
      </section>
    {{else}}
      <section class="navbar-section">
        <div class="dropdown">
          <div class="dropdown-button">
            <a class="flex" href="/login">
              <img src="/img/User_alt.png" alt="" />
              <p>Log in</p>
            </a>
          </div>
        </div>
        <label class="hamburger">
          <input type="checkbox" />
        </label>
        <aside class="sidebar">
          <a href="/"><p>Home</p></a>
          <a href="/products"><p>Products</p></a>
          <a href="/about"><p>About</p></a>
          <a href="/contact"><p>Contact</p></a>
          <a href="/login"><p>Log in</p></a>
        </aside>
      </section>
    {{/if}}

  </nav>
</header>