<header id="header">
  <nav id="menu" class="navbar">
    <section class="navbar-section">
      <a class="column col-1 col-auto" class="menu-item" href="/">
        <img class="menu-img" src="/img/firley-logo-white.png" alt="home" />
      </a>
      <a class="menu-link" href="/humans"><p
          class="menu-item"
          class="column col-2 col-auto"
        >
          SHOP
        </p></a>
      <a class="menu-link" href="/about"><p
          class="menu-item"
          class="column col-3 col-auto"
        >
          ABOUT</p></a>
      <a class="menu-link" href="/contact">
        <p class="menu-item" class="column col-4 col-auto">
          CONTACT
        </p></a>
    </section>
    {{#if isLoggedIn}}
      <section class="navbar-section">
        <div class="dropdown">
          <div class="dropdown-button">

            <img src="/img/User_alt_fill.png" alt="" />
            <p>My Account</p>

          </div>
          <div class="dropdown-content">
            <a href="/logout">Log Out</a>
            {{#if isAdmin}}
              <a href="/logout">Manage Users</a>
            {{/if}}

          </div>
        </div>
      </section>
    {{else}}
      <section class="navbar-section">
        <div class="dropdown">
          <div class="dropdown-button">
            <a class="flex" href="/login">
              <img src="/img/User_alt.png" alt="" />
              <p>Log in</p>
            </a>
          </div>
        </div>
      </section>

    {{/if}}

  </nav>
</header>