
<div class="contact-map-card-container">
    <h1>Contact Us </h1>
<div class="contact-card-container">
  <div class="contact-card">
    <ul class="contact-list">
      <li><b>Adress:</b> Tallörtsbacken 25, jönköping</li>
      <li>Phone number:</b> 073 528-91-98</li>
      <li>Email:</b> hoed22rl@student.se</li>
    </ul>
  </div>
  <div class="contact-card">
    <ul class="contact-list">
      <li>
        <img class="contact-img"src="/img/Platform=Facebook, Color=Negative.png" alt="" /></li>
      <li>
        <img class="contact-img"src="/img/Platform=Instagram, Color=Negative.png" alt="" /></li>
      <li>
        <img class="contact-img"src="/img/Platform=LinkedIn, Color=Negative.png" alt="" /></li>
      <li><img
      class="contact-img"
          src="/img/Platform=X (Twitter), Color=Negative.png"
          alt=""
        /></li>
    </ul></div>
</div>
<div id="map"></div>
</div>