<div id="main">
  <div class="eventpage-container-top">
    <img
      class="eventpage-img"
      src="/img/mike-yukhtenko-wfh8dDlNFOk-unsplash.jpg"
      alt=""
    />
    <div class="not-absolut">
      <h1 class="eventpage-headline">{{event.ename}}</h1>
      <div class="space"></div>
      <div class="eventpage-info">
        <div class="location"><img
            class="info-icon"
            src="/img/Pin_fill.png"
            alt=""
          /><p>{{event.location}}</p></div>
        <div class="date"><img
            class="info-icon"
            src="/img/Date_range_fill.png"
            alt=""
          />
          <p>2023-01-04</p></div>
      </div>
    </div>
  </div>
  <div class="eventpage-container-bottom">
    <h2 class="eventpage-headline2">{{event.ename}}</h2>
    <p class="eventpage-description">{{event.edesc}}</p>
  </div>
</div>