<div id="main" class="home-background">
  <div>
    <div class="hero-text">
      <h1 class="hero-headline">Crafting moments, one sip at a time</h1>

      <p class="hero-runner">Welcome to Firley brew, where passion meets
        craftsmanship, and every sip tells a story. Established with a
        relentless dedication to the art of brewing, our journey began with a
        vision to redefine the beer experience. Nestled in the heart of
        Jönköping we take pride in curating a diverse selection of brews that
        reflect the rich heritage of our locale while embracing innovative
        techniques that push the boundaries of taste and flavor.</p>
    </div>
  </div>
</div>