<div id="main" class="home-background">
  <div>
    <div class="hero-text">
      <h1 class="hero-headline">Lorem ipsum dolor sit, amet consectetur
        adipisicing elit.</h1>

      <p class="hero-runner">Lorem ipsum, dolor sit amet consectetur adipisicing
        elit. Culpa adipisci minus aliquam vel, facere consequuntur harum nulla
        eveniet enim perferendis, ducimus iusto consectetur eaque, delectus
        officia? Optio officia tenetur molestiae!</p>
    </div>
  </div>
</div>