<div class="main">
  <form action="/login" method="POST">
    <input type="text" name="username" placeholder="Username" />
    <input type="password" name="password" placeholder="Password" />
    <input type="submit" value="Login" />
  </form>
  <a href="/signup">Dont have a account yet?</a>

</div>