<div class="main">
  <div class="form-container">
    <h1 class="login-text">Log In</h1>
    <form action="/login" method="POST" class="login-form">

      <input
        class="login-input"
        type="text"
        name="username"
        placeholder="Username"
      />
      <input
        class="login-input"
        type="password"
        name="password"
        placeholder="Password"
      />
      <input class="submitbutton" type="submit" value="Login" />
    </form>
    <a href="/signup"><p class="signup-link">Dont have a account yet?</p></a>
  </div>
</div>