<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/spectre.css/dist/spectre.min.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css"
    />
    <link rel="stylesheet" href="style-for-spectre.css" />
    <title>CV</title>
  </head>
  <body>
    <div class="container">
      <div class="columns">
        <div class="column col-12">
          <header><h1>Edvin Höglin Forsberg</h1></header>
        </div>
        <div class="column col-xs-auto">
          <aside>
            <img src="IMG/cvu.jpg" />
          </aside>
        </div>
        <div class="column col-xs-auto">
          <main>
            <div class="contact">
              <h3>Email: hoed22rl@student.ju.se</h3>
              <h3>Adress: Tallörtsbacken 25, 574 75 Jönköping</h3>
              <h3>073-528 9198</h3>
            </div>
            <div>
              <h2>Education</h2>
              <ul>
                <li>2015 Njudungs gymnasiet vetlanda, Teknik</li>
                <li>2017 Certified Solidworks Associate</li>
                <li>2018 Certified Solidworks Professional</li>
                <li>2022 Jönköping University, New Media Design</li>
              </ul>
            </div>
            <div>
              <h2>Professional experience</h2>
              <ul>
                <li>2018-2020 Industrial worker, MP Bolagen Ekenässjön</li>
                <li>2020-2022 Industrial worker, Elitfönster Vetlanda</li>
                <li>2023-Today Caregiver, Ekebogården Ekenässjön</li>
              </ul>
            </div>
            <div>
              <h2>Computer Skills</h2>
              <ul>
                <li>Certified Proffessional in Solidworks</li>
                <li>Basic knowledge in HTML</li>
                <li>Basic knowledge in CSS</li>
                <li>Limited knowledge in JavaScript</li>
                <li>Intermediate knowledge in Photoshop</li>
                <li>Intermediate knowledge in Illustrator</li>
                <li>Profound knowledge in InDesign</li>
                <li>Profound knowledge in Word</li>
                <li>Profound knowledge in PowerPoint</li>
                <li>Basic knowlege in Excel</li>
              </ul>
            </div>
            <div>
              <h2>Languages</h2>
              <ul>
                <li>Native Swedish</li>
                <li>Proficient English</li>
              </ul>
            </div>
            <div>
              <h2>Other</h2>
              <ul>
                <li>Class B driving license</li>
                <li>Interests includes design, Computers and music</li>
              </ul>
            </div>
          </main>
        </div>
      </div>
    </div>
  </body>
</html>
