<div id="main">
  <div>
    {{#if isLoggedIn}}
      {{#if isAdmin}}
        <form action="/humans/new" method="post" class="login-form">
          <fieldset>
            <label for="proname">Product name:</label>
            <input
              class="login-input"
              type="text"
              name="proname"
              id="proname"
              required="required"
            />
            <br />
            <label for="proyear">Product year:</label>
            <input
              class="login-input"
              type="number"
              name="proyear"
              id="proyear"
              placeholder="6969"
              required="required"
            />
            <br />
            <label for="prodesc">Product description:</label>
            <textarea
              class="login-input"
              name="prodesc"
              id="prodesc"
              cols="30"
              rows="10"
              required="required"
            ></textarea>
            <br />
            <label for="protype">Product type:</label>
            <select
              class="login-input"
              name="protype"
              id="protype"
              required="required"
            >
              <option value="Ale">Ale</option>
              <option value="Lager">Lager</option>
              <option value="Pilsner">Pilsner</option>
              <option value="Porter">Porter</option>
              <option value="IPA">IPA</option>
              <option value="APA">APA</option>
              <option value="Stout">Stout</option>
              <option value="Weizenbock">Weizenbock</option>
              <option value="Bitter">Bitter</option>
              <option value="Other">Other</option>
            </select>
            <br />
            <label for="prothumbnail">Thumbnail</label>
            <input
              class="login-input"
              type="text"
              id="prothumbnail"
              name="prothumbnail"
              value="{{project.pthumbnail}}"
              placeholder="blue"
              required="required"
            />
            <label for="proimg">Project image URL:</label>
            <input
              class="login-input"
              type="text"
              name="proimg"
              id="proimg"
              placeholder="/img/"
              required="required"
            />

            <br />
            <label for="procolor">Color:</label>
            <input
              class="login-input"
              type="text"
              name="procolor"
              id="procolor"
              placeholder="blue"
              required="required"
            />
            <label for="proalcohol">Alcohol:</label>
            <input
              class="login-input"
              type="number"
              name="proalcohol"
              id="proalcohol"
              placeholder="5.0"
              required="required"
              step=".01"
            />
            <label for="provolume">volume:</label>
            <input
              class="login-input"
              type="number"
              name="provolume"
              id="provolume"
              placeholder="33"
              required="required"
            />
          </fieldset>
          <input type="submit" value="Add project" class="submitbutton" />
        </form>
      {{else}}
        <p>You can't do this.</p>
      {{/if}}
    {{else}}
      <p>No way, José.</p>
    {{/if}}
  </div>
</div>