body {
  background: linear-gradient(161deg, #050506, #1a1a1f, #2a2a32);
  background-size: 180% 180%;
  animation: gradient-animation 15s ease infinite;
  width: 100vw;
  overflow-x: hidden;
}
textarea {
  resize: vertical;
}
summary {
  cursor: pointer;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans JP", sans-serif;
  box-sizing: content-box;
  color: rgb(255, 255, 255);
}
a:focus {
  outline: none;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: rgb(136, 136, 136);
  text-decoration: none;
}
#footer {
  margin-top: 200px;
}
.bottom-footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 20vh;
  gap: 7px;
}
#header {
  width: 100vw;
}
.footer-icons {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: fit-content;
}
.social-icon {
  height: 20px;
  margin: 5px;
}
.product-headline {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10vh;
  font-size: 80pt;
  font-weight: 800;
  width: 100%;
  font-kerning: normal;
  line-height: 0.9;
  padding-left: 30vw;
}
.repeat {
  display: grid;
  grid-area: pmain;
  grid-template-columns: repeat(auto-fit, 400px);
  gap: 4rem;
  justify-content: center;
  width: 100%;
  margin-top: 4vh;
  width: 90vw;
}
.bakery-goods {
  height: 500px;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background-color: #1d1d1d4b;
}

.product-image {
  height: 400px;
  padding-top: 20px;
}

.product-image:hover {
  animation-duration: 0.5s;
  animation-name: rotate;
  animation-fill-mode: forwards;
}
@keyframes rotate {
  from {
  }

  to {
    transform: rotate(-10deg);
  }
}

.product-information {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 15pt;
  font-weight: 600;
  position: absolute;
}

.product-remove-edit {
  height: 100%;
  padding-right: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 77px;
}
.under-img {
  width: 400px;
  height: fit-content;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 440px;
  flex-direction: row-reverse;
  gap: 5px;
}
@keyframes slidedown {
  from {
  }

  to {
    transform: rotate(-10deg);
  }
}

.description-new {
  width: 800px;
  height: 500px;
}
#add-product {
  display: flex;
  align-items: center;
  justify-content: center;
}
.add-img {
  width: 250px;
}
.add-img:hover {
  animation-duration: 1s;
  animation-name: changefill;
  animation-fill-mode: forwards;
}
@keyframes changefill {
  from {
  }

  to {
    filter: invert(48%) saturate(2476%);
  }
}
.menu-item {
  height: 60px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 12pt;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 400;
  margin: 0;
  display: flex;
  align-items: center;
}
.menu-item:active {
  color: rgb(68, 68, 68);
}

.menu-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-item:hover {
  color: rgb(133, 133, 133);
}
.menu-img {
  max-height: 50px;
}
.navbar {
  margin-top: 50px;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  margin-bottom: 85px;
}
.navbar-section {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 50px;
  height: 60px;
  display: flex;
  align-items: center;
}
.hero-text {
  margin-left: 15%;
  margin-right: 15%;
  max-width: 700px;
  min-width: 400px;
}
.hero-headline {
  font-size: 50pt;
  padding-bottom: 20px;
}
.hero-runner {
  font-size: 13pt;
}
a {
  color: rgb(255, 255, 255);
}

.home-background {
  background-image: url("/mike-yukhtenko-wfh8dDlNFOk-unsplash.jpg");
}
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 4%;
}
.login-input {
  width: 200px;
  border-width: 2px;
  border-color: rgb(20, 20, 20);
  border-radius: 10px;
  border-style: solid;
  color: white;
  background-color: rgb(12, 12, 12);
  margin: 5px;
  padding: 5px;
  display: flex;
  text-align: center;
}
.submitbutton {
  justify-content: center;
  width: 100px;
  border-width: 2px;
  border-color: rgb(67, 94, 66);
  border-radius: 20px;
  border-style: solid;
  color: white;
  background-color: rgb(12, 12, 12);
  margin-top: 2%;
  margin-bottom: 1%;
  padding: 10px;
  display: flex;
}
.submitbutton:hover {
  animation-duration: 1s;
  animation-name: changecolor;
  animation-fill-mode: forwards;
  cursor: pointer;
  text-align: end;
}

@keyframes changecolor {
  from {
    background-color: rgb(12, 12, 12);
  }

  to {
    background-color: rgb(67, 94, 66);
  }
}
input {
  text-align: center;
}
::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  text-align: center;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #23232329;
}
.login-text {
  text-align: center;
}
.signup-link {
  text-align: center;
  color: rgb(136, 136, 136);
  font-size: 9pt;
}
.signup-link:hover {
  color: rgb(90, 90, 90);
}
.required {
  display: flex;
  flex-direction: row;
}
.product-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-page-img {
  max-width: 300px;
  min-width: 200px;
}
.product-page-container {
  height: fit-content;
  display: flex;
  justify-content: center;
  gap: 3%;
  width: 90vw;
  margin-left: 10vw;
}
.img-container {
  width: fit-content;
  height: auto;
}
.product-info {
  margin-top: 80px;
  max-width: 600px;
  margin-top: 100px;
  margin-bottom: 70px;
}
.product-atributes {
  display: flex;
  margin-top: 20px;
  width: 220px;
  flex-wrap: wrap;
}
.atribute-container {
  width: 80px;
  text-align: center;
  padding: 10px;
  width: 80px;
  font-size: 11pt;
}

.atribute-description {
  border-color: rgb(59, 59, 59);
  border-radius: 1px;
  border-style: solid;
  width: 80px;
  text-align: center;
  margin: 0;
  font-weight: 400;
}
.atribute {
  border-color: rgb(59, 59, 59);
  border-radius: 1px;
  border-style: solid;
  width: 80px;
  text-align: center;
  font-size: 10pt;
  margin: 0;
  margin-top: -2px;
}

.reviews-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 400px;
  margin-top: 20px;
  cursor: pointer;
}
.reviews-header-item {
  font-weight: 600;
}
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  display: none;
  position: absolute;
  width: 150px;
  overflow: auto;
  left: -10px;
  background-color: rgb(15, 15, 15);
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
  height: fit-content;
  text-align: center;
  border-radius: 5px;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  display: block;
  color: #cecece;
  padding: 5px;
  text-decoration: none;
}
.dropdown-content a:hover {
  color: #ffffff;
  background-color: #242424;
}
.dropdown-button {
  height: 22px;
  display: flex;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.flex {
  display: flex;
}
::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #1d1d1d;
  width: 0;
}

::-webkit-scrollbar-thumb {
  background: #3a3a3a;
}

::-webkit-scrollbar-thumb:hover {
  background: #252525;
}
.event-container {
  width: 80vw;
  height: 50vh;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  margin-bottom: 10vh;
}
.event-background {
  height: auto;
  width: 100%;
}
.event-info {
  margin: 10%;
  position: absolute;
  width: 40vw;
}
.event-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20vh;
}
.event-headline-container {
  width: 100%;
}
.event-headline {
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 5vh;
}

.eventpage-container-top {
  height: 70vh;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.eventpage-img {
  width: 150%;
  height: auto;
}
.eventpage-headline {
  height: 50%;
  display: flex;
  align-items: flex-end;
  text-align: center;
}
.eventpage-info {
  height: 1%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 40vw;
  padding-bottom: 10px;
  background-color: #00000098;
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.location {
  display: flex;
  align-items: center;
}
.date {
  display: flex;
  font-size: 12pt;
  align-items: center;

  gap: 4px;
}
.info-icon {
  height: 30px;
  width: auto;
}

.eventpage-container-bottom {
  margin-left: 20vw;
  margin-right: 20vw;
  margin-top: 40px;
}
.eventpage-headline2 {
  margin-bottom: 50px;
}
.eventpage-description {
  width: 60vw;
}
.not-absolut {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  margin: 0;
}
.space {
  height: 49%;
}
.add-event-container {
  width: 80vw;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #242424;
  margin-bottom: 10vh;
}
.add-event {
  width: 300px;
  height: auto;
  cursor: pointer;
}
.add-event:hover {
  animation-duration: 1s;
  animation-name: changefill;
  animation-fill-mode: forwards;
}
.event-reverse {
  display: flex;
  flex-direction: column-reverse;
}
#map {
  height: 300px;

  width: 60vw;
  border-radius: 20px;
}
.contact-list {
  list-style: none;
}
.contact-card {
  max-width: 400px;
  min-width: 300px;
  background-color: #05050656;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}
.contact-card-container {
  display: flex;
  gap: 30px;
}
.contact-map-card-container {
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 100px;
}
.contact-img {
  height: 20px;
  width: auto;
}
.user-rating {
  width: 400px;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 5pt;
  font-size: 13pt;
  font-weight: 600;
}
.review-text {
  font-size: 10pt;
}
#not-matching {
  animation-name: notmatching;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
#wrong-pw-or-un {
  animation-name: notmatching;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
@keyframes notmatching {
  0% {
    border-color: rgb(117, 30, 30);
  }
  90% {
    border-color: rgb(117, 30, 30);
  }
  100% {
    border-color: rgb(20, 20, 20);
  }
}
@media only screen and (max-width: 900px) {
  .menu-item {
    display: none;
  }
  .dropdown {
    display: none;
  }
  .navbar-section {
    margin-left: 10px;
    margin-right: 10px;
  }
  .hero-text {
    margin-left: 0;
    margin-right: 0;
    padding-left: 2%;
    width: 90vw;
    min-width: 0;
  }

  .hero-headline {
    width: 90vw;
  }
  .hero-runner {
    width: 90vw;
  }
  .product-headline {
    display: flex;
    justify-content: center;
    margin-bottom: 10vh;
    font-size: 40pt;
    font-weight: 800;
    width: 100%;
    font-kerning: normal;
    line-height: 0.9;
    padding-left: 0;
  }
  .repeat {
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 4rem;
    justify-content: center;
    width: 100%;
    margin-top: 4vh;
    width: 90vw;
  }
  .under-img {
    width: 100%;
  }
  .contact-card-container {
    flex-direction: column;
  }
  .event-background {
    height: 150%;
    width: auto;
  }
  .eventpage-img {
    height: 100%;
    width: auto;
  }
  .date,
  .location {
    font-size: 10pt;
  }
  .info-icon {
    height: 20px;
  }
  .eventpage-info {
    width: 320px;
    overflow-x: hidden;
  }
  .product-page-container {
    width: 100vw;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .product-info {
    width: 350px;
  }
  .reviews-header {
    width: 350px;
  }
  .user-rating {
    width: 350px;
  }
  .event-info {
    font-size: 11pt;
    width: 280px;
    margin: 2%;
  }
  .event-container,
  .add-event-container {
    width: 95vw;
    height: 400px;
  }
}

*::before,
*::after {
  box-sizing: border-box;
}
@media only screen and (min-width: 900px) {
  .hamburger,
  .sidebar,
  .checkbox,
  .hamburger::before,
  .hamburger::after,
  .hamburger input {
    display: none;
  }
}

*::before,
*::after {
  box-sizing: border-box;
}
.hamburger::before,
.hamburger::after,
.hamburger input {
  content: "";
  width: 30px;
  height: 4px;
  background-color: #fafafa;
  transform-origin: left center;
  transition: 200ms ease-in-out;
  border-radius: 1000000000000000000000000000000px;
}
.hamburger {
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: relative;
  width: max-content;
  top: 5px;
  left: 5px;
  cursor: pointer;
  z-index: 4;
}
.hamburger:has(input:checked)::before {
  rotate: 45deg;
  width: 28.2842712474px;
  translate: 0 -2px;
}
.hamburger:has(input:checked)::after {
  rotate: -45deg;
  width: 28.2842712474px;
  translate: 0 2px;
}

.hamburger input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}
.hamburger input:checked {
  opacity: 0;
  width: 0;
}
.sidebar {
  background-color: #1a1a1f;
  width: 40vw;
  left: 60vw;
  position: absolute;
  text-align: center;
  height: 100%;
  top: 0;
  padding-top: 20vh;
  display: flex;
  gap: 10px;
  flex-direction: column;
  z-index: 3;
  display: none;
}
.hamburger:has(input:checked) + .sidebar {
  display: block;
}
